.btn-new-product{
  text-decoration: none;
  background-color: #013440;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  transition: background-color 0.5s;
  margin-right: 4rem;

  &:hover {
    text-decoration: none;
    background-color: #184650;
    color: white;
  }

  i {
    font-size: 13px;
  }
}
.text-right{
  text-align: right;
}
.search-button{
  height: 3rem;
}
.form-search input{
  width: 400px;
  border-radius: 10px;
  padding: 12px 20px;
  background-color: white;
}
.btn-light{
  height: 50px;
  background-color: #F4F4F4;
  border: 1px solid #F4F4F4;
  &:hover{
    background-color: #F4F4F4;
    border: 1px solid #F4F4F4;
  }
}
.container-sweet-alert{
  text-align: right;
}
