<div class="text-right mt-4 mb-3">
  <%= link_to(add_pokemons_path, class: "btn-new-product") do %>
    <i class="fas fa-plus"></i> Agregar
  <% end %>
</div>
<h1 class="text-center">Editar pokemon</h1>
<%= render "shared/pokemon_form_new" %>
