<div class="d-flex">
  <div>
    <%= render 'shared/sidebar' %>

  </div>
  <div class="w-100">
    <%= render 'shared/navbar' %>
    <h1 class="text-center">Add new Trainer</h1>
    <%= render "shared/trainer_form_new" %>
  </div>
</div>
